# ___

# [ Python Basics ]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*


___

This is a collection of various basic Python programming exercises. The Python is needed in various courses as for instanbce in Machine Learnign for Geosciences. Students are expected to self-evaluate thei knowledge and possibly navigate to topices needed to improve.

Code cells are empty or partly developed. It is expected that student will fill-in the corresponding part to get correct result. The expected result is printed blow. Each section where students shall enter their solution is commented by `# complete here`. 

Run each completed box by pressing shift-enter or using the play button in the toolbar.

### Variable assigment

In [2]:
# complete here
a = 15

In [3]:
print(a)

15

### Numerical d
ata types

In [5]:
x = 1.0

In [6]:
# print type of x
# complete here
print(type(x))

<class 'float'>

In [9]:
# convert x to float and print it
x = '11'
# complete here
type(float(x))

float

### Operators

In [10]:
1 + 2, 1 - 2, 1 * 2, 1 / 2

(3, -1, 2, 0)

In [11]:
# y = one plus two 
# complete here
y = 1 + 2

In [12]:
print(y)

3

In [13]:
# y = one mius two 
# complete here
y = 1 - 2

In [14]:
print(y)

-1

In [15]:
# y = two multiplied by three
# complete here
y = 2 * 3

In [16]:
print(y)

6

In [17]:
# y = two divided by three
# complete here
y = 2 / 3

In [18]:
print(y)

0.6666666666666666

In [19]:
# integer division of float numbers
# y = 3.0 divided by 2.0
# complete here
y = 3.0 // 2.0

In [20]:
print(y)

1.0

In [21]:
# power operator
# y = two to the power of 3 
# complete here
y = 2 ** 3

In [22]:
print(y)

8

In [24]:
# binary AND 
# y is true AND false
# complete here
y = True and False
print(y)

False

In [25]:
# negation 
# y is not false 
# complete here
y = not False
print(y)

True

In [26]:
# bianry OR
# y is true OR false
# complete here
y = True or False
print(y)

True

In [16]:

2 > 1, 2 < 1, 2 > 2, 2 < 2, 2 >= 2, 2 <= 2

(True, False, False, False, True, True)

In [27]:
# predicates 
# is two higher than 1?
# complete here
2 > 1

True

In [29]:
# predicates 
# is two smaller or equal to two?
# complete here
2 <= 2

True

In [30]:
# equality comparison
# is list [1,2] equal to [1,2]
# complete here
[1,2] == [1,2]

True

In [36]:
# equality comparison
# is 3 equal to false?
# complete here
3 == False

False

In [33]:
# equality comparison
# is 1 equal to true?
# complete here
1 == True

True

### Strings

In [37]:
# assign string Hello world to variable s
# complete here
s = "Hello world"
# check the data type
type(s)

str

In [19]:
# How long is the variable s? 
# complete here
len(s)

11

In [20]:
# replace the string world with string test and print the result
s2 = s.replace("world", "test")
print(s2)

Hello test

In [21]:
# select and print the first element of string s 
# complete here
s[0]

'H'

In [38]:
# select and print the last element of string s 
# complete here
s[-1]

'd'

In [22]:
# select and print the first five elements of string s 
# complete here
s[0:5]

'Hello'

In [23]:
# select and print the last five elements of string s 
# complete here
s[6:]

'world'

In [25]:
# define step size of 2 and prin the extract from string
# complete here
s[::2]

'Hlowrd'

In [39]:
# join two strings using Python package os to create full path to the file 
# '/data/experiment/' 
# 'data.csv'
import os
# complete here
os.path.join('/data/experiment/', 'data.csv')

'/data/experiment/data.csv'

In [43]:
# format the following float variable to 3 decimaps in print statement
# complete here
var = 3.14159
print("variable = {:.3f}".format(var)  )

variable = 3.142

In [44]:
# round loat variable to 2 decimals 
# complete here
var = 3.14159
print("variable = {}".format(round(var, 2)))

variable = 3.14

### Lists

In [45]:
# create list variable l of numbers 1,2,3,4, print it
# complete here
l = [1,2,3,4]
print(l)

[1, 2, 3, 4]

In [30]:
# print second to third elements of list l 
# complete here
print(l[1:3])

[2, 3]
[1, 3]

In [46]:
# print first two elements of list l 
# complete here
print(l[:2])

[1, 2]

In [47]:
# print first element of list l 
# complete here
l[0]

1

In [49]:
# don't have to be the same type
# create list l of mixed data types: integer, string, float, tuple of numbers 1 and 2
# complete here
l = [1, 'a', 1.0, (1, 2)]
print(l)

[1, 'a', 1.0, (1, 2)]

In [50]:
# create list of series starting at 10, ending at 30 with step 2
# use range operator
start = 10
stop = 30
step = 2

# complete here
range(start, stop, step)

# consume the iterator created by range
list(range(start, stop, step))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [56]:
# create a new empty list l 
# complete here
l = []
print(l)

[]

In [57]:
# add an elements 'A' using `append`, then 'd' and 'c'
# complete here
l.append("A")
l.append("d")
l.append("c")

print(l)

['A', 'd', 'c']

In [58]:
# replace second element with 'b' and third element with 'c'
# complete here
l[1:3] = ["b", "c"]
print(l)

['A', 'b', 'c']

In [59]:
# insert 'i' at the first element of the list l 
# insert 'n' at the second element of the list l 
# complete here
l.insert(0, "i")
l.insert(1, "n")

print(l)

['i', 'n', 'A', 'b', 'c']

In [60]:
# remove element 'A' 
# complete here
l.remove("A")
print(l)

['i', 'n', 'b', 'c']

In [61]:
# delete the third element 
# complete here
del l[3]

print(l)

['i', 'n', 'b']

### Tuples

In [62]:
# create tuple point with slcalars 10 and 20 
# complete here
point = (10, 20)
print(point)

(10, 20)

In [63]:
# unpack the values of point into x and y and print the values 
# complete here
x, y = point

print("x =", x)
print("y =", y)

x = 10
y = 20

### Dictionaries

In [64]:
# create dictionary params with three items: 
# theta1 equal to 1.0 
# theta2 equal to 2.0 
# theta3 equal to 3.0 
# complete here 
params = {"parameter1" : 1.0,
          "parameter2" : 2.0,
          "parameter3" : 3.0,}

print(params)

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0}

In [65]:
# add one element to the dictionary params: 
# bias equal to 5.0 
# complete here 
params["bias"] = 5.0 
print(params)

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0, 'bias': 5.0}

### Control Flow

In [66]:
# create if else statment
# first evaluation is based on statement1, print the value of statement
# second evaluation is based on statement2, print the value of statement
# print third evaluation with string 'Neither is true.' 

statement1 = False
statement2 = False

# complete here 
if statement1:
    print("statement1 is True")
elif statement2:
    print("statement2 is True")
else:
    print("Neither is true.")

neither is true

### Loops

In [44]:
# create for loop iterating over numbers from 0 to 3, step 1
# print the numbers in the loop 
# complete here
for x in range(4):
    print(x)

0
1
2
3

In [45]:
# create for loop iterating over these strings "scientific", "computing", "with", "python"
# print the strings in the loop 
# complete here

for word in ["scientific", "computing", "with", "python"]:
    print(word)

scientific
computing
with
python

In [67]:
params

{'parameter1': 1.0, 'parameter2': 2.0, 'parameter3': 3.0, 'bias': 5.0}

In [46]:
# create a loop iterating over lements of dictionary params
# print key and value in each step of the loop in a format: key = value
# e.g. parameter1 = 1.0

# complete here
for key, value in params.items():
    print(key + " = " + str(value))

parameter4 = D
parameter1 = A
parameter3 = 3.0
parameter2 = B

In [47]:
# create a loop over range (-3, 3), which prints tuple of index and value 
# e.g. (0, -3), etc. 

# complete here
for idx, x in enumerate(range(-3,3)):
    print(idx, x)

(0, -3)
(1, -2)
(2, -1)
(3, 0)
(4, 1)
(5, 2)

In [48]:
# list comprehension 
# creat a list of power 2 values from range(0,5) using list comprehension 

# complete here
l1 = [x**2 for x in range(0,5)]
print(l1)

[0, 1, 4, 9, 16]

In [68]:
# use while loop to iterate from 0 to 4, print the index values
# at the end print statement 'done'

# complete here
i = 0
while i < 5:
    print(i)
    i = i + 1
print("done")

0
1
2
3
4
done

### Functions

In [70]:
# create a function func() which takes variable s (string) and print a string 's' and tell how many characters it has
# e.g. s has x characters 
# include a docstring

# complete here 
def func(s):
    """
    Print a string 's' and tell how many characters it has    
    """
    
    print(s + " has " + str(len(s)) + " characters")

In [71]:
# print first the help of the function
# complete here
help(func)

Help on function func in module __main__:

func(s)
    Print a string 's' and tell how many characters it has

In [73]:
# use the function func(s), pass string 'Test'

# complete here
func("Test")

Test has 4 characters

In [74]:
# create function square, which takes numerical value and returns square value of the input

# complete here
def square(x):
    return x ** 2

In [75]:
# use the function square, pass number 5 and print it

# complete here
square(5)

25

In [76]:
# create function powers with multiple return values
# it shall return power of 2, 3, and 4

# complete here
def powers(x):
    return x ** 2, x ** 3, x ** 4

In [56]:
# use the function powers, pass number 5 

# complete here
powers(5)

(25, 125, 625)

In [80]:
# unpack the power vlaues into variables x1, x2, and x3, print them separated by chartacter ':'

# complete here
x1, x2, x3 = powers(5)
print(x1,':',x2,':',x3)

25 : 125 : 625

In [81]:
# create anonimate function with lambda, which returns power of 2 of the input number 

# complete here
f1 = lambda x: x**2

In [85]:
# use the function, pass in value 5 and print the result

# complete here
f1(5)

25

In [91]:
# create lambda function returning power of 2 for input of range(-3, 4) 
# use map to pass range falue to lambda, print the values, you can use e.g. list  

list(map(lambda x: x**2, range(-3,4)))

[9, 4, 1, 0, 1, 4, 9]

In [92]:
# print the values of the above map function in a loop 
for i in map(lambda x: x**2, range(-3,4)): 
    print(i)

9
4
1
0
1
4
9

### Classes

In [95]:
# crete Python class Point initiated with two numerical values x and y 
# add method translate, which adds values of dx and dy to the internal class values of x and y 
# add also __str__ method printing string: "Point at x, y"

# complete here
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def translate(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return("Point at [%f, %f]" % (self.x, self.y))

In [97]:
# create an instance of class Pont, initiated with values of 1, 1
# prin the point 

# complete here
p1 = Point(1, 1)
print(p1)

Point at [1.000000, 1.000000]

In [98]:
# update the values of point p1 with 0.25 of x and 1.5 of y 
# use your method translate

# complete here
p1.translate(0.25, 1.5)

print(p1)

Point at [1.250000, 2.500000]

In [144]:
# create class Point2, whcih inherits from class Point and extend the functionality for method vector 
# which returns the size of the vector of the point from origin 
# complete here 

import math 

class Point2(Point): 
    def __init__(self, x, y):
        super().__init__(x, y)
        self.x = x
        self.y = y
        self.size = 0 
    def vector(self):
        self.size = math.sqrt(self.x**2 + self.y**2)
        return self.size

In [147]:
# test your extended class Point2, intitate it with values of 2, 2 
# prin the size of the vector 

# complete here
p2 = Point2(2, 2)
print(p2)
print(round(p2.vector(), 3))

Point at [2.000000, 2.000000]
2.828

### Exceptions

In [149]:
# create an exception statement for printing test1
# you try to print the result of the test1, which doesnt exist at the current state and you capture exception, 
# which prints this string: 'Caught an exception on test1'

# complete here
try:
    print(test1)
except:
    print("Caught an expection")

Caught an expection

In [150]:
# extend the above exeption statement for the type of the exception, 
# print it in the exception clause: "Caught an exception: name 'test1' is not defined"

# complete here
try:
    print(test1)
except Exception as e:
    print("Caught an exception: " + str(e))

Caught an exception: name 'test1' is not defined